<% if logged_in? %>
  <div class="row">
    <div class="col-sm-3">
      <%= render 'my_profile' %>
    </div>

    <div class="col-sm-9">
      <%= render 'tips' %>
    </div>
  </div>
<% else %>
  <%= link_to 'Twitterでログイン', '/auth/twitter' %>
<% end %>
