<div class="card" style="width: auto;">
  <%= image_tag current_user.profile_image_url, class: 'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title"><%= current_user.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">@<%= current_user.nickname %></h6>
    <p class="card-text"><%= current_user.description %></p>
    <div>
      <dl>
        <ul class="list-unstyled">
          <li>
            <dt>Tips</dt>
            <dd>1000</dd>
          </li>

          <li>
            <dt>フォロー</dt>
            <dd>1000</dd>
          </li>

          <li>
            <dt>フォロワー</dt>
            <dd>1000</dd>
          </li>
        </ul>
      </dl>
    </div>
  </div>
</div>
