<div class="card" style="width: auto;">
  <%= image_tag "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('ogihara.ryo.b@gmail.com')}?s=200", class: 'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title">Ogihara Ryo</h5>
    <h6 class="card-subtitle mb-2 text-muted">@OgiharaRyo</h6>
    <p class="card-text">ソフトウェアエンジニア / 個人事業主 / Ruby on Rails / dvorak配列 / Ergodox EZ / 在宅フルフレックス勤務絶対主義 / 眼精疲労重症 / ヘビーゲーマー</p>
    <div>
      <dl>
        <ul class="list-unstyled">
          <li>
            <dt>Tips</dt>
            <dd>1000</dd>
          </li>

          <li>
            <dt>フォロー</dt>
            <dd>1000</dd>
          </li>

          <li>
            <dt>フォロワー</dt>
            <dd>1000</dd>
          </li>
        </ul>
      </dl>
    </div>
  </div>
</div>
